body{
    background: url(/Calculadora/imgs/fondo1.png) no-repeat;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 600px;
}
    
h2{
    text-decoration: underline;
    font-size: 50px;
    
}
h4{
    color: white;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 350px;
    text-align: center;
    border: 1px solid rgb(241,241,241);
    border-radius: 12px;
    padding: 10px 20px;
    background: transparent;
    backdrop-filter: blur(6px);
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.5);
}
.wrapper h2{
    font-size: 30px;
    color: #fffefe;
}
.input-field{
    position: relative;
}

.input-field input[type="correo"]{
    color: white;
    border-radius: 10px;
    background: transparent;
    margin: 15px;
    border: 2px solid rgb(255,255,255);
    width: 280px;
    height: 2px;
    padding: 20px 40px 20px 20px;
    backdrop-filter: blur(15px);

}
.input-field input[type="password"]{
    color: white;
    border-radius: 10px;
    background: transparent;
    margin: 15px;
    border: 2px solid rgb(255,255,255);
    width: 280px;
    height: 2px;
    padding: 20px 40px 20px 20px;
    backdrop-filter: blur(15px);
}
.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: rgb(252,252,252);
}
input::placeholder{
    color: rgb(255,255,255);
    text-align: center;

}
.input-field input[type="correo"]:focus::placeholder{
    transform: translateY(-100%);
    transition: transform 0.2 ease-in-out;
    font-size: 14px;
}
.input-field input[type="password"]:focus::placeholder{
    transform: translateY(-100%);
    transition: transform 0.2 ease-in-out;
    font-size: 14px;

}

.input-field input[type="correo"]:not(:focus)::placeholder{
    transform: translateY(0%);
    transition: transform 0.2 ease-in-out;
    font-size: 16px;
}
.input-field input[type="password"]:not(:focus)::placeholder{
    transform: translateY(0%);
    transition: transform 0.2 ease-in-out;
    font-size: 16px;

}

a.olvido{
    text-decoration: none;
    position: relative;
    color: rgb(255,255,255, 0.712);
}

a.olvido:hover{
    text-decoration: underline;
    color: #fffffffd;
}
a.registrarse{
    text-decoration: none;
    color: rgba(255,255,255,0.712);
}

a.registrarse:hover{
    text-decoration: underline;
    color: #fffffffd;
}
.wrapper.logueo{
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 45px;
    width: 200px;
    height: 30px;
}
button{
    color: black;
    background-color: white;
    border-radius: 20px;
    width: 60%;
    margin-top: 30px;
    
}

button:hover{
    box-shadow: 10px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: black;
}

