body{
    background-color: black;
}
h1{
    color: white;
    text-decoration: underline;
    font-size: 80px;
    font-family: calculadora;
}
h2{
    color: white;
}

input{
    border-radius: 20px;
    width: 20%;
    height: 40px;
    display: grid;
}

.div1{
    
    display: flex;
    flex-direction: row;
    font-family: calculadora;
    
}
@font-face {
    font-family: calculadora;
    src: url("../fonts/Calculator.ttf");
}
a{
    color: white;
}
::placeholder{
    color: rgb(145, 145, 145);
    text-align: center;
    font-family: calculadora;
}